body > header.stripe, main > header.stripe {
    .stripe(8em, medium);
    padding-top: 4.5em;
    padding-bottom: 3em;
    background-color: @color-dark;
    background-size: cover;
    background-position: center;
    font-family: @font-heading;
    position: relative;
    color: @color-light;
    text-shadow: 0 1px 2px @color-dark-shadow, 0 1px 0 @color-dark-shadow;
    span {
        display: block;
    }
    .title {
        margin: 2em 0;
    }
}

form.search input {
    background-color: transparent;
    color: @color-light;
}

.home header.stripe, .page main header.stripe {
    padding-top: 7em;
    padding-bottom: 8em;
    //.darkenBackground();
}

body > footer p {
    font-size: .8rem;
    font-family: @font-heading;
}

a article {
    color: @color-dark;
}

[layout="row"] [flex-end] {
    margin-left: auto;
    margin-top: initial;
    margin-bottom: initial;
}

[layout="row"] > * {
    margin-top: 0;
}

.header.reduced {
    padding: 0 1em;
    a, nav a, .search {
        padding-top: .5em;
        padding-bottom: .5em;
    }
    position: absolute;
    z-index: @z-index-overlay;
    background: @color-dark-shadow;
    a {
        color: @color-light;
        text-shadow: 0 1px 2px @color-dark-shadow, 0 1px 0 @color-dark-shadow;
        margin-right: 1em;
    }
}

#moot-logo {
    margin: 0 !important;
    padding: 0 !important;
    opacity: 0 !important;
    overflow: hidden;
    height: 0;
}

main > section {
    .stripe(medium, medium);
}

article a {
    color: @color-dark;
    .title {
        h2 {
            margin: 0;
        }
        margin-bottom: 1em;
    }
}

nav {
    article {
        transition: all .5s ease;
        .darkenBackground();
        &:hover {
            &::before {
                opacity: .85;
            }
        }
        &:hover {
            a {
                transform: scale(1.1);
            }
        }
        a {
            font-family: @font-heading;
            position: relative;
            transition: all .5s ease;
            text-align: center;
            padding: 3em 1em;
            display: block;
            color: @color-light;
            text-shadow: 0 1px 2px @color-dark-shadow, 0 1px 0 @color-dark-shadow;
        }
    }
    p {
        font-family: @font-body;
        font-size: .9em;
    }
    * {
        margin: 0;
    }
    h2 {
        margin: 0;
        margin-bottom: .25em;
    }
}

// COMPONENTS

.description-items {
    text-transform: uppercase;
}

.avatar {
    margin-bottom: 1em;
    color: @color-light;
    > img:first-of-type {
        border-radius: 100%;
        width: 5em;
        height: 5em;
        margin-right: 1em;
    }
    &.large > img:first-of-type {
        width: 10em;
        height: 10em;
    }
}

.tags > *
{
	color: @color-light;
	background: lighten(@color-dark, 20%);
	text-shadow: 0 1px 2px @color-dark-shadow, 0 1px 0 @color-dark-shadow;
	display: inline-block;
    margin: 0 .25em .5em 0;
	border-radius: 0 .125em .125em 0;
	padding: 0 .25em 0 .5em;
	line-height: 1.5;
	box-shadow: inset 0.25em 0 0 @color-dark-shadow;
	small
	{
		font-size: .7em;
	}
}

.progress {
	background: fadeout(@color-dark, 40%);
	height: .5em;
	margin: .5em 0;
	border-radius: .25em;
	span
	{
		height: 100%;
		display: block;
		border-radius: .25em;
	}
}

.card-overview {
    margin-bottom: 2em;
    h2,h3,h4 {
        margin-top:0;
    }
    padding: 1em;
    a {
        display: block;
        color: @color-light;
    }
}

body > footer {
    .stripe(4em, medium);
    background-color: lighten(@color-dark, 10%);
    text-transform: uppercase;
    color: darken(@color-light, 10%);
    font-size: .8em;
    a {
        color: @color-primary;
    }
    p {
        margin: 0;
        line-height: 1.5;
    }
}


main {
    .striped();
}

.article-preview {
	margin-bottom: 4em;
	border-bottom: 1px solid @color-primary;
    h3 {
        margin-bottom: 0;
    }
    p {
        font-size: 1rem;
    }
    background-size: 100% 200%;
    transition: all .5s;
    background-image: linear-gradient(to top, @color-primary 50%, transparent 50%);
    a {
        color: @color-dark;
    }
}
