.header {
    &--extended {
        .c-stripe(8em, medium);
        padding-top: 4em;
        padding-bottom: 2.5em;
        @media screen and (min-width: @breakpoint-sm) {
            padding-top: 4.5em;
            padding-bottom: 3em;
        }
        background-color: @color-dark;
        background-size: cover;
        background-position: center;
        text-shadow: 0 1px 2px @color-dark-shadow, 0 1px 0 @color-dark-shadow;
        text-align: center;
    }
    font-family: @font-heading;
    position: relative;
    color: @color-light;
    padding-top: 3em;
    padding-bottom: 3em;
    span {
        display: block;
    }
    .title {
        margin: 2em 0;
    }

    &--reduced {
        background: @color-dark;
        padding: 1em;
        @media screen and (min-width: @breakpoint-sm) {
            position: absolute;
            background: @color-dark-shadow;
            padding: 0 1em;
        }
        z-index: @z-index-overlay;
        a {
            color: @color-light;
            text-shadow: 0 1px 2px @color-dark-shadow, 0 1px 0 @color-dark-shadow;
        }
    }
}

.search {
    margin-left: auto;
    input {
        background-color: @color-light;
        color: @color-dark-shadow;
    }
}


// page and overview header
main header.stripe {
    padding-top: 8em;
    padding-bottom: 7em;
    //.darkenBackground();
}

.site__footer {
    .c-stripe(4em, medium);
    background-color: lighten(@color-dark, 10%);
    text-transform: uppercase;
    color: darken(@color-light, 10%);
    font-size: .8em;
    a {
        color: @color-primary;
    }
    p {
        margin: 0;
        line-height: 1.5;
        font-size: .8rem;
        font-family: @font-heading;
    }

}

a article {
    color: @color-dark;
}

[layout="row"] [flex-end] {
    margin-left: auto;
    margin-top: initial;
    margin-bottom: initial;
}

[layout="row"] > * {
    margin-top: 0;
}

#moot-logo {
    margin: 0 !important;
    padding: 0 !important;
    opacity: 0 !important;
    overflow: hidden;
    height: 0;
}

main > section {
    .c-stripe(medium, medium);
}

article a {
    color: @color-dark;
    .title {
        h2 {
            margin: 0;
        }
        margin-bottom: 1em;
    }
}

.site__nav {
    article {
        transition: all .5s ease;
        .darkenBackground();
        &:hover {
            &::before {
                opacity: .85;
            }
        }
        &:hover {
            a {
                transform: scale(1.1);
            }
        }
        a {
            font-family: @font-heading;
            position: relative;
            transition: all .5s ease;
            text-align: center;
            padding: 3em 1em;
            display: block;
            color: @color-light;
            text-shadow: 0 1px 2px @color-dark-shadow, 0 1px 0 @color-dark-shadow;
        }
    }
    p {
        font-family: @font-body;
        font-size: .9em;
    }
    * {
        margin: 0;
    }
    h2 {
        margin: 0;
        margin-bottom: .25em;
    }
    &--short {
        a {
            padding: .5em;
            display: flex;
            align-items: center;
            transition: all .25s ease;
        }
    }
    &--big {
        box-shadow: 0 -.15em .75em hsla(0,0%,0%,.5);
        position: relative;
        z-index: @z-index-overlay;
    }
}

// COMPONENTS

.description-items {
    text-transform: uppercase;
}

.avatar {
    margin-bottom: 1em;
    color: @color-light;
    > img:first-of-type {
        border-radius: 100%;
        width: 5em;
        height: 5em;
        margin-right: 1em;
    }
    &.large > img:first-of-type {
        width: 10em;
        height: 10em;
    }
}

.tags > *, .tag:not(.token)
{
	color: @color-light !important;
	background: lighten(@color-dark, 20%);
	text-shadow: 0 1px 1px @color-dark-shadow, 0 1px 0 @color-dark-shadow, 0 0 2px @color-dark-shadow;
	display: inline-block;
    margin: 0 .25em .5em 0;
	border-radius: 0 .125em .125em 0;
	padding: 0 .25em 0 .5em;
	line-height: 1.5;
	box-shadow: inset 0.25em 0 0 @color-dark-shadow;
	small
	{
		font-size: .7em;
	}
}

.progress {
	background: fadeout(@color-dark, 40%);
	height: .5em;
	margin: .5em 0;
	border-radius: .25em;
	span
	{
		height: 100%;
		display: block;
		border-radius: .25em;
	}
}

.card-overview {
    margin-bottom: 2em;
    h2,h3,h4 {
        margin-top:0;
    }
    padding: 1em;
    a {
        display: block;
        color: @color-light;
    }
}


main {
    .striped();
}

.site__logo--reduced {
    margin-right: 1em;
}

.site__logo {
    &:hover {
        animation: flip .5s linear 0 alternate both;
    }
}

@keyframes flip {
    from {transform: rotateX(0deg);}
    to {transform: rotateX(180deg);}
}

.article-preview {
    overflow: hidden;
    padding: .25em .75em;
    box-shadow: 0 0 .25em 0 hsla(0,0,50%,.25), 0 .1em .25em 0 hsla(0,0,20%,.1), 0 .3em 1em 0 hsla(0,0,50%,.05);
	border-radius: .2em;
	margin-bottom: 4em;
    // background-image: linear-gradient(to top, @color-primary 50%, transparent 50%);
    background-color: @color-light;
	// border-bottom: 1px solid @color-primary;
    h3 {
        margin-bottom: 0;
        margin-top: .5em;
    }
    p {
        font-size: 1rem;
    }
    background-size: 100% 200%;
    transition: all .5s;
    a {
        color: @color-dark;
    }
    > a {
        &:visited {
            background-color: lighten(@color-dark, 30%);
        }
    }
    img {
        position: relative;
        left: -.75em;
        width: calc(~"100% + 1.5em");
        bottom: .25em;
        max-width: none;
        border-bottom: .2em solid @color-dark;
    }
}


.align_left {
	/* for images placed in rich text editor */
	float: left;
	margin: 0 1em 0.5em 0;
	position: relative;
	top: 0.5em;
	max-width: 50%;
}

.align_right {
	/* for images placed in rich text editor */
	float: right;
	margin: 0 0 0.5em 1em;
	max-width: 50%;
}

.align_center {
	/* for images placed in rich text editor */
	display: block;
	margin: 1em auto;
	position: relative;
	top: 0.5em;
}
